.outline-none:focus,
.form-control:focus {
    box-shadow: none !important;
    outline: 0 none;
    background-color: #f1f3f5 !important;
}

.list-group-item {
    transition: all 0.2s ease;
    border-color: #f8f9fa;
}

.list-group-item:hover {
    background-color: #adcff1;
    padding-left: 5px !important;
}

#addCategoryModal .modal-content {
    border-radius: 15px;
}

#addCategoryModal .form-control {
    border-radius: 10px;
}

#addCategoryModal .btn-primary {
    border-radius: 10px;
    font-weight: 600;
}

.custom-scroll::-webkit-scrollbar {
    width: 5px;
}
.custom-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.custom-scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}
