.single-news__text-block p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #333;
    margin-bottom: 2rem;
    text-align: justify;
}

.single-news__text-block figure img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
