@media (min-width: 992px) {
    .address__image {
        max-width: 100%;
        margin-left: 0%;
    }
    .address__image img {
        transform: translate(3px, -3px);
    }

    .mobile-header {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .main-header__sub-link.dropdown-item {
        font-size: 2.6rem;
        line-height: 4.3rem;
    }

    .main-header {
        position: relative;
    }

    .logo {
        position: absolute;
        margin-left: 20.8rem;
        margin-top: 5.3rem;
        transform: translate(-50%, -50%);
        width: 35.9rem;
    }
    #menu__list--pc {
        flex-direction: column !important;
        align-items: flex-start !important;
        width: 100%;
        margin-top: 3rem;
        margin-left: 5rem;
    }

    .main-header__nav-link {
        font-size: 2rem;
        padding: 1rem 0;
    }

    .sub-menu.dropdown-menu {
        position: static !important;
        margin-left: 1rem;
    }
    .navbar-toggler {
        position: absolute !important;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }

    .main-header__logo-link {
        margin-left: 4.5rem;
    }
    .navbar-brand {
        margin: 0 auto;
    }
    .navbar-toggler-icon {
        width: 2.5em !important;
        height: 2.5em !important;
    }
    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 60%;
        background-color: #fff;
        padding-top: 6rem;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 1050;
    }
    .navbar-collapse.show {
        transform: translateX(0);
    }
    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 2rem;
    }
    .nav-link {
        font-size: 2rem;
        padding: 1rem 0;
    }

    .dropdown-menu {
        position: static;
        transform: none !important;
        box-shadow: none;
        background: none;
    }
}
@media screen and (max-width: 800px) {
    .address__image img {
        transform: translate(18px, 50px);
    }
    .address__information {
        transform: translate(19px, 10px);
    }
    .address__content {
        font-size: 2rem;
    }
}

@media (min-width: 580px) and (max-width: 768px) {
    .address__image img {
        transform: translate(13px, 50px);
    }
    .address__information {
        transform: translate(50px, 10px);
    }
    .address__content {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 580px) {
    .address__image img {
        transform: translate(19px, 50px);
    }
}

@media screen and (min-width: 320px) {
    .frm-group-row label {
        font-size: 1.4rem;
    }
    .address__image img {
        transform: translate(14px, 50px);
    }
}
